{% extends "index.html" %}


{% block base_body %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>My Cart</h2>
                    <div class="row">
                        {% for cube in cubes %}
                            <div class="well">
                                <span>{{ cube.name }} - {{ cube.price }}</span>
                                <span>
                                    <a href="/deleted/{{ cube.slug }}" class="btn btn-danger" style="float:right; ">
                                    Remove
                                    </a>  
                                </span>
                            </div>
                        {% endfor %}
                        <div class="well" style="background-color:#252830; color:white;" >
                                <span>Total: ${{ total }}</span>
                                <span>
                                    <a href="/checkout/" class="btn btn-success" style="float:right; ">
                                    Checkout
                                    </a>  
                                </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}
