{% extends "index.html" %}


{% block base_body %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Welcome to the {{ category }} category</h2>
                    <h3></h3>
                    {% for cube in cubes %}
                        <div class="well">
                            {% if cube.is_custom %}
                            <span>This cube is custom made by users!</span>
                            {% endif %}
                            <span>{{ cube.name }} ice cube</span><span style="float:right;"><a href="/product/{{ cube.slug }}/" class="btn btn-info">View Cube</a></span>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}
